<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Total Mensuel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Barre de navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index') }}">Accueil</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('export') }}">Exporter CSV</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container mt-4">
    <h1>Total des Encaissements pour le Mois {{ mois }}</h1>
    <p class="lead">Total : {{ "%.2f"|format(total) }}€</p>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Retour à l'accueil</a>
  </div>
</body>
</html>
